.currentWord {
    background-color: #fff;
    padding: 1.5rem;
    margin: 1rem;
}

.character {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    margin: 0 0.5rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 5px #fff;

}

.currentCharacter {
    text-decoration: underline;
    text-decoration-color: #000;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.4rem;
}

.error {
    color: #ff0000;
}