.wordBuffer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
}

.word {
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    text-transform: lowercase;
}

.character {
    display: inline-block;
    color: #6f6f6f;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.error {
    color: #ff0000;
}

.correct {
    color: #000;
}

.currentCharacter {
    text-decoration: underline;
    text-decoration-color: #000;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.6rem;
}

.seperator {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
}
