.wordBuffer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
}

.word {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6f6f6f;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: lowercase;
}

.currentWord {
    color: #000;
}

.character {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    /* color: #000; */
    /* margin: 0 0.5rem; */
    padding: 0 0.125rem;
    text-align: center;
    text-shadow: 0 0 5px #fff;

}

.currentCharacter {
    text-decoration: underline;
    text-decoration-color: #000;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.6rem;
}

.error {
    color: #ff0000;
}